<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <title>Test Login</title>
    <link rel="stylesheet" type="text/css" href="/css/quang.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https:/stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
    <div id="successful-result" style="display: none">Your password is now update</div>
    <div id="not-successful-result" style="display: none">Could not update password</div>
    <div class="container-fluid text-center">
        <form method="post">
            <div class="border border-secondary rounded p-3">
                <p>
                    New password: <input type="password" id="password_one">
                </p>
                <p>
                    Retype new password: <input type="password" id="password_two">
                </p>
                <input type="button" class="btn btn-primary" value="Save new password" id="buttonUpdatePassword">
            </div>
        </form>
    </div>

    <script>
        var urlParam = new URLSearchParams(location.search);
        contextPath = "[[@{/}]]";
        console.log(contextPath)

        var passwordOne;
        var passwordTwo;
        var buttonUpdate;

        $(document).ready(function() {
            passwordOne = $("#password_one") ;
            passwordTwo = $("#password_two");
            buttonUpdate = $("#buttonUpdatePassword");

            buttonUpdate.click(function () {
                event.preventDefault();
                saveNewPassword();
            });
        });

        function saveNewPassword() {
            url =  "http://localhost:8081/api/auth/save_password";

            passwordOld = passwordOne.val();
            passwordNew = passwordTwo.val();
            tokenValue = urlParam.get('token');
            console.log(passwordOld +" " + passwordNew + " " + tokenValue);

            jsonData = {oldPassword: passwordOld, token: tokenValue, newPassword: passwordNew};
            // var settings = {
            //     "url": "http://localhost:8081/api/auth/save_password",
            //     "method": "POST",
            //     "timeout": 0,
            //     "headers": {
            //         "Content-Type": "application/json"
            //     },
            //     "data": JSON.stringify(jsonData),
            // };
            //
            // $.ajax(settings).done(function (response) {
            //     alert(response);
            // }).fail(function (){
            //     alert("Sai này")
            // });

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: url,
                data: JSON.stringify(jsonData),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    alert("Success " + data);
                },
                error: function (e) {
                    alert("Fail " + e);
                }
            });
        }
    </script>
</body>
</html>