<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <title>Test Login</title>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https:/stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
    <div id="successful-result" style="display: none">Your password is now update</div>
    <div id="not-successful-result" style="display: none">Could not update password</div>
    <div class="container-fluid text-center">
        <form>
            New password: <input type="password" id="password_one"><br>
            Retype new password: <input type="password" id="password_two"><br>
            <input type="button" value="Save new password" id="buttonUpdatePassword">
        </form>
    </div>

    <script>
        var urlParam = new URLSearchParams(location.search);
        contextPath = "[[@{/}]]";
        console.log(contextPath)

        var passwordOne;
        var passwordTwo;
        var buttonUpdate;

        $(document).ready(function() {
            passwordOne = $("#password_one") ;
            passwordTwo = $("#password_two");
            buttonUpdate = $("#buttonUpdatePassword");

            buttonUpdate.click(function () {
                saveNewPassword();
            });
        });

        function saveNewPassword() {
            url =  "http://localhost:8081/api/auth/save_password";

            passwordOld = passwordOne.val();
            passwordNew = passwordTwo.val();
            tokenValue = urlParam.get('token');
            console.log(passwordOld +" " + passwordNew + " " + tokenValue);

            jsonData = {oldPassword: passwordOld, token: tokenValue, newPassword: passwordNew};
            console.log(jsonData.newPassword +" "+ jsonData.oldPassword + " " + jsonData.token);
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(jsonData),
                contentType: 'application/json'
            }).done(function () {
                console.log("Thanh cong");
            }).fail(function () {
                console.log("That bai");
            })
        }
    </script>
</body>
</html>